.heading1{
    margin: 1%;
    text-align: center;
}

.chef1{
    text-align: center;
}

li{
    list-style-type: none;
    text-align: center;
}

.container{
    margin: 3em auto;
#content{
    h2{
        padding: 1.5em;
    }
    h4{
        padding: 1em;
    }
}
}